<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 　<!--Viewportとは表示領域のこと。端末やブラウザに合わせた値を返す。-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %> <!--renderメソッドでlayouts/headerを呼び出して表示する-->　

    <div class="container-fluid py-4 mw-md"> <!--全体を中央,-->
      <%= yield %>
    </div>

  </body>
</html>
